<div class="box-footer">  
<%= form_for([@article, @article.comments.build]) do |f| %>
  <!-- .img-push is used to add margin to elements next to floating images -->
  <div class="img-push">
    <div class="col-sm-2">
      <%= f.text_field :username, class: "form-control input-sm", placeholder: "Username" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :body, class: "form-control input-sm", placeholder: "Write a comment" %>
    </div>
    <div class="col-sm-2">
      <%= f.submit 'Send', :class => "btn btn-danger pull-right btn-block" %>
    </div>
  </div>
<% end %>
</div>