<div class="container">
	<nav class="navbar navbar-light bg-faded">
	  <a class="navbar-brand" href="#">First blog</a>
	  <ul class="nav navbar-nav">
	    <li class="nav-item active">
	      <%= link_to 'Home', welcome_index_path, class: "nav-link" %>
	    </li>
	    <li class="nav-item">
	      <%= link_to 'Articles', articles_path, class: "nav-link" %>
	    </li>
	  </ul>
	  <form class="form-inline pull-xs-right">
	    <input class="form-control" type="text" placeholder="Search">
	    <button class="btn btn-outline-success" type="submit">Search</button>
	  </form>
	</nav>
</div>
<br>
<div class="container">
	<div class="media col-md-6">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="/assets/123.jpg" alt="..." width="100px" height="100px">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">About me</h4>
	    My name's "Nguyễn Hoàng Tú", I'm a fullstack programmer and i need to learn language skill from created blog.
	  </div>
	</div>
</div>
